# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [97]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyAVzvhpSbibZXkD4ss7kiRtDs4j3fByTIs'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [98]:
csv_data_file = "../output_data/cities.csv"
cities_df=pd.read_csv(csv_data_file)
cities_df=cities_df.reset_index(drop=True)
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,0,Hailun,47.45,126.93,-3.32,81,0,8.34,CN,12/14/20 22:42
1,1,Port Hardy,50.70,-127.42,44.60,87,90,19.46,CA,12/14/20 22:42
2,2,Mataura,-46.19,168.86,63.00,71,0,14.00,NZ,12/14/20 22:42
3,3,Sturgis,41.80,-85.42,24.80,73,1,5.95,US,12/14/20 22:42
4,4,Aklavik,68.22,-135.01,-18.40,75,48,2.24,CA,12/14/20 22:42

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
gmaps.configure(api_key=g_key)
locations=cities_df[['Lat', 'Lng']]
humidity=cities_df['Humidity'].astype(float)

In [103]:
# Plot Heatmap
fig = gmaps.figure(center=(40, -20), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [89]:
#Narrow down the cities with temperature <70 and >40 and humidity = 0
reduced_df= cities_df.loc[(cities_df['Humidity']< 30) & (cities_df['Max temp'] > 40 ) & (cities_df['Max temp'] <70 )]
reduced_df.dropna()

,Unnamed: 0,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
84,84,Laï,9.40,16.30,68.92,24,0,4.43,TD,12/14/20 22:40
126,126,Redlands,34.06,-117.18,59.00,24,40,12.75,US,12/14/20 22:42
176,176,Umm Hājar,13.30,19.70,68.25,22,39,9.37,TD,12/14/20 22:42
180,180,Umm Kaddadah,13.60,26.69,67.57,22,7,10.98,SD,12/14/20 22:42
208,208,Nioro,13.35,-15.75,65.21,28,4,5.26,GM,12/14/20 22:42
209,209,North Las Vegas,36.20,-115.12,55.40,24,1,16.11,US,12/14/20 22:37
265,265,Bonao,18.94,-70.41,69.01,1,48,1.14,DO,12/14/20 22:42
277,277,Bousso,10.48,16.71,68.99,23,11,5.53,TD,12/14/20 22:42
301,301,Diffa,13.32,12.61,68.92,25,0,10.00,NE,12/14/20 22:42
424,424,Jumla,29.27,82.18,49.93,25,0,3.65,NP,12/14/20 22:42
494,494,Ripoll,42.20,2.19,43.00,1,65,2.89,ES,12/14/20 22:42
497,497,Koumra,8.91,17.55,69.06,27,41,3.22,TD,12/14/20 22:42
552,552,Zinder,13.81,8.99,68.65,24,0,11.23,NE,12/14/20 22:42

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [109]:
hotel_df=reduced_df.copy()
hotel_df['Hotel_name']=''
hotel_df

,Unnamed: 0,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date,Hotel_name
84,84,Laï,9.40,16.30,68.92,24,0,4.43,TD,12/14/20 22:40,
126,126,Redlands,34.06,-117.18,59.00,24,40,12.75,US,12/14/20 22:42,
176,176,Umm Hājar,13.30,19.70,68.25,22,39,9.37,TD,12/14/20 22:42,
180,180,Umm Kaddadah,13.60,26.69,67.57,22,7,10.98,SD,12/14/20 22:42,
208,208,Nioro,13.35,-15.75,65.21,28,4,5.26,GM,12/14/20 22:42,
209,209,North Las Vegas,36.20,-115.12,55.40,24,1,16.11,US,12/14/20 22:37,
265,265,Bonao,18.94,-70.41,69.01,1,48,1.14,DO,12/14/20 22:42,
277,277,Bousso,10.48,16.71,68.99,23,11,5.53,TD,12/14/20 22:42,
301,301,Diffa,13.32,12.61,68.92,25,0,10.00,NE,12/14/20 22:42,
424,424,Jumla,29.27,82.18,49.93,25,0,3.65,NP,12/14/20 22:42,
494,494,Ripoll,42.20,2.19,43.00,1,65,2.89,ES,12/14/20 22:42,
497,497,Koumra,8.91,17.55,69.06,27,41,3.22,TD,12/14/20 22:42,
552,552,Zinder,13.81,8.99,68.65,24,0,11.23,NE,12/14/20 22:42,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure