# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [141]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key
g_key="AIzaSyBs8x3T3En-rkNmnT4M8GDusi9sIXXeC0k"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [124]:
csv_data_file = "../output_data/cities.csv"
cities_df=pd.read_csv(csv_data_file)
cities_df.head()

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,Roebourne,-20.78,117.13,81.46,66,47,2.01,AU,12/15/20 18:47
1,Port Alfred,-33.59,26.89,64.99,90,2,1.99,ZA,12/15/20 18:47
2,Yumen,40.28,97.20,9.66,87,71,1.59,CN,12/15/20 18:47
3,Puerto Ayora,-0.74,-90.35,73.00,89,83,5.01,EC,12/15/20 18:47
4,Punta Arenas,-53.15,-70.92,50.00,61,0,32.21,CL,12/15/20 18:47

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [125]:
gmaps.configure(api_key=g_key)
locations=cities_df[['Lat', 'Lng']].astype(float)
humidity=cities_df['Humidity'].astype(str).tolist()

In [47]:
# Plot Heatmap
fig = gmaps.figure(center=(40, -20), zoom_level=3)
#fig = gmaps.figure(center=(40, -20), zoom_level=2)
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [131]:
#Narrow down the cities with temperature <70 and >40 and humidity = 0
reduced_df= cities_df.loc[(cities_df['Humidity'] < 30) & (cities_df['Max temp'] > 60 ) & (cities_df['Max temp'] <70 )]
reduced_df.dropna()

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
20,Calama,-22.47,-68.93,68.00,16,0,24.16,CL,12/15/20 18:47
28,Atar,20.52,-13.05,65.89,28,0,7.52,MR,12/15/20 18:47
66,Biltine,14.53,20.92,68.36,23,9,9.46,TD,12/15/20 18:47
74,Tessalit,20.20,1.01,66.34,24,83,4.81,ML,12/15/20 18:47
117,Comodoro Rivadavia,-45.87,-67.50,69.80,10,0,21.92,AR,12/15/20 18:47
263,Agadez,19.75,10.25,61.18,28,62,7.90,NE,12/15/20 18:47
292,Umm Kaddadah,13.60,26.69,66.20,27,0,14.88,SD,12/15/20 18:47
296,Banyo,6.75,11.82,68.16,25,0,3.44,CM,12/15/20 18:47
334,Diffa,13.32,12.61,69.98,24,45,9.42,NE,12/15/20 18:47
504,Arlit,18.74,7.39,68.29,24,12,7.99,NE,12/15/20 18:48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [142]:
#Below gives key error 
hotel_df=reduced_df.loc[:,["City", "Lat", "Lng", "Country"]]
hotel_df['Hotel_name']=np.nan
hotel_df

                   City    Lat    Lng Country  Hotel_name
20               Calama -22.47 -68.93      CL         NaN
28                 Atar  20.52 -13.05      MR         NaN
66              Biltine  14.53  20.92      TD         NaN
74             Tessalit  20.20   1.01      ML         NaN
117  Comodoro Rivadavia -45.87 -67.50      AR         NaN
263              Agadez  19.75  10.25      NE         NaN
292        Umm Kaddadah  13.60  26.69      SD         NaN
296               Banyo   6.75  11.82      CM         NaN
334               Diffa  13.32  12.61      NE         NaN
504               Arlit  18.74   7.39      NE         NaN

In [147]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#target_type = "hotel"
#target_radius = 5000
params = {
        "keyword": "hotel",
        "radius": 5000,
        "type": "hotel",
        "key": g_key
        }

In [152]:
#Construct Lat and Lng for each line in hotel_df
for index, line in hotel_df.iterrows():
    params["location"]= f"{line['Lat']}, {line['Lng']}"
    city_name=line['City']
    #Request the API
    print(f'Requesting info for the city {city_name}')
    # run a request using the params dictionary
    response = requests.get(base_url, params=params).json()
 #   print(json.dumps(response, indent=4, sort_keys=True))
    
    try:
        place_name = response["results"][0]['name']
        print(f'Hotel name : {place_name}')
        hotel_df.loc[index, 'Hotel_name']= place_name
    except (KeyError, IndexError):
        print(f'Missing hotels for City {city_name}')

Requesting info for the city Calama
Hotel name : Park Hotel Calama
Requesting info for the city Atar
Hotel name : Auberge et Camping Inimi
Requesting info for the city Biltine
Missing hotels for City Biltine
Requesting info for the city Tessalit
Missing hotels for City Tessalit
Requesting info for the city Comodoro Rivadavia
Hotel name : Lucania Palazzo Hotel
Requesting info for the city Agadez
Missing hotels for City Agadez
Requesting info for the city Umm Kaddadah
Missing hotels for City Umm Kaddadah
Requesting info for the city Banyo
Hotel name : Hôtel Municipal de Banyo
Requesting info for the city Diffa
Hotel name : Complexe Hôtelier Du 18 Décembre
Requesting info for the city Arlit
Hotel name : Hôtel Telwa Bungalow

In [153]:
hotel_df

,City,Lat,Lng,Country,Hotel_name
20,Calama,-22.47,-68.93,CL,Park Hotel Calama
28,Atar,20.52,-13.05,MR,Auberge et Camping Inimi
66,Biltine,14.53,20.92,TD,NaN
74,Tessalit,20.20,1.01,ML,NaN
117,Comodoro Rivadavia,-45.87,-67.50,AR,Lucania Palazzo Hotel
263,Agadez,19.75,10.25,NE,NaN
292,Umm Kaddadah,13.60,26.69,SD,NaN
296,Banyo,6.75,11.82,CM,Hôtel Municipal de Banyo
334,Diffa,13.32,12.61,NE,Complexe Hôtelier Du 18 Décembre
504,Arlit,18.74,7.39,NE,Hôtel Telwa Bungalow

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
 

# Display figure